server:
  port: 9999

spring:
  application:
    name: gateway
  datasource:
    # 数据源
    url: jdbc:mysql://127.0.0.1:3306/zero-web?useUnicode=true&characterEncoding=UTF-8&useInformationSchema=true&enabledTLSProtocols=TLSv1.2&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    gateway:
      routes:
        - id: zero-blog
          uri: lb://zero-blog
          predicates:
            - Path=/zero-blog/**
          filters:
            - StripPrefix=1
        - id: zero-financial
          uri: lb://zero-financial
          predicates:
            - Path=/financial/**
          filters:
            - StripPrefix=1